<div class="card" style="position: fixed; top:50%; left:50%;transform: translate(-50%, -50%);  z-index: 9;">
    <div class="card-body" style="max-width: 300px;">
        
        <div class="row">
            <div class="col-2">
                <h1 class="text-center" style="font-size: 25px; padding: 0px; margin: 0px;"><i class="fa fa-spinner fa-fw fa-spin"></i></h1>
            </div>
            <div class="col-10">
                <h5 class="text-center pixel-font">Loading data</h5>               
            </div>
        </div>

    
    </div>
</div>